* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom left, #accbee 0%, #e7f0fd 100%);
  height: 100vh;
}
header {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}
main {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid black;
}

.alarm-clock-container {
  height: 600px;
  width: 500px;
  /* border: 1px solid rgb(0, 0, 0); */
  border-radius: 10px;
  background-color: aliceblue;
}

/* Styles for Clock */
.clock-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

#time {
  font-size: 2rem;
  font-weight: 600;
  color: purple;
  margin: auto;
}

/* Styles for alarm input */
.alarm-input-container {
  border-bottom: 1px solid black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alarm-input-container form {
  width: 300px;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#alarm-time {
  width: 120px;
  outline: none;
}

/* Alarm List Styles */

.alarm-list-container {
  height: 450px;
}

#alarm-list {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.alarm {
  margin: 0.5rem;
  padding: 10px;
  /*background: rgb(197, 187, 178);
  */
  background: transparent;
  color: black;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  transition: all 1.4s ease;
}

.alarm:hover {
  background-color: rgb(210, 230, 247);
  cursor: pointer;
}

.alarm-item {
  min-width: 30%;
  list-style: none;
}

.drop {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* Buttons */

.alarm-input-container button {
  letter-spacing: 0.5px;
  height: 2.2rem;
  width: 6rem;
  padding: 5px;
  color: white;
  font-weight: bolder;
  background-color: purple;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.alarm-input-container button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid purple;
  color: purple;
}

.delete-button {
  background: red;
  color: white;
  width: 60px;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
::-webkit-scrollbar {
  display: none;
}
.delete-button:hover {
  background: rgb(240, 6, 6);
}

.fa-trash {
  pointer-events: none;
}
